.send-email-modal {
  background-color: #c2e8ff;
  border-radius: 30px;
  width: 70vw;
  height: 60vh;
  padding: 70px;
  margin: auto;
  margin-top: 8vh;
}

.send-email-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 40px auto 0 auto;
}

.send-email-modal .close-modal {
  background-color: grey;
  float: right;
  border: none;
  border-radius: 4px;
  padding: 10px;
  height: 40px;
  width: 40px;
  transform: translateX(40px) translateY(-40px);
  color: #fff;
}

.close-modal:hover {
  cursor: pointer;
}

#email {
  align-self: center;
  display: block;
  margin: 0 auto;
  background: aliceblue;
}

.send-email {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.animation {
  height: 100px;
  width: 100px;
}

.send-email-modal button{
  width: 40%;
  height: 50px;
  margin: 20px auto 0 auto;
}