.send-email-modal {
  background-color: #fff;
  width: 70vw;
  height: 70vh;
  z-index: 100;
  padding: 70px;
  align-items: center;
  margin: auto;
  margin-top: 8vh;
}

.close-modal {
  background-color: grey;
  float: right;
  border: none;
  border-radius: 4px;
  padding: 10px;
  height: 40px;
  width: 40px;
  transform: translateX(30px) translateY(-30px);
  color: #fff;
}

.close-modal:hover {
  cursor: pointer;
}

#email {
  width: 70%;
  align-self: center;
  display: block;
  margin: 0 auto;
}

.send-email {
  display: block;
  margin: 0 auto;
}